@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
:root {
    --white: #ffffff;
    --black-dark: #3b443d;
    --black-light: #43393a;
    --red: #d22331;
    --gray-light: #e6dbc8;
    --blue-light: #82c0bf;
    --blue-dark: #3b5da7;
    --green: #1a5c15;
    --orange: #e9912c;
    --yellow: #ffcb05;
}

@font-face {
    font-family: Pokemon;
    /*src: url(/assets/fonts/Pokemon\ Hollow.ttf);
    src: url(/assets/fonts/Pokemon\ Solid.ttf);*/
    src: url(/fonts/Pokemon\ Hollow.ttf);
    src: url(/fonts/Pokemon\ Solid.ttf);
}

* {
    margin: 0;
    padding: 0;
}

body {
    /*background-image: url(/assets/img/120422-Pokemon-748x421.jpg);*/
    background-image: url(/img/120422-Pokemon-748x421.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'VT323', monospace;
    font-size: 30px;
    text-transform: capitalize;
}

h1 {
    font-family: Pokemon;
    font-weight: 300;
    font-size: 50px;
    text-align: center;
    color: var(--yellow);
    -webkit-text-stroke: 3px var(--blue-dark);
}

hr {
    margin: 0 auto;
    width: 60%;
    height: 3px;
    background-color: var(--yellow);
    border-color: var(--yellow);
}

.search-bar {
    width: 30%;
    left: 35%;
    margin-top: 20px;
    position: relative;
    display: flex;
}

.search-bar>input[type="text"] {
    width: 100%;
    height: 20px;
    padding: 5px;
    border: 3px solid var(--blue-dark);
    border-right: none;
    border-radius: 5px 0 0 5px;
    outline: none;
    color: var(--black-light);
    font-family: 'VT323', monospace;
}

.search-bar>input[type="text"]:focus {
    color: var(--black-dark);
}

.search-bar>button {
    width: 40px;
    height: 36px;
    border: 1px solid var(--blue-dark);
    background-color: var(--blue-dark);
    text-align: center;
    color: var(--white);
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;
}


/*Pokedex*/

.red {
    background-color: #ff0000;
}

.yellow {
    background-color: #fecb65;
}

.green {
    background-color: #32cb65;
}

.blue {
    background-color: #3298cb;
}

.light-blue {
    background-color: #85bdfe;
}

.light-red {
    background-color: #fe98cb;
}

.light-yellow {
    background-color: #fefecb;
}

.light-green {
    background-color: #98fe00;
}

#pokedex {
    margin: 0 auto;
    margin-top: 15px;
    height: 390px;
    width: calc(270px * 2);
    display: flex;
    border-radius: 10px;
}

@media only screen and (max-width: 600px) {
    #pokedex {
        width: 90%;
    }
}


/*Left panel */

#left-panel {
    background-color: var(--red);
    box-sizing: border-box;
    height: 100%;
    width: 60%;
    display: grid;
    grid-template-rows: 23% 50% 27%;
    border: solid var(--black-dark) 3px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 7px;
}


/* Top Lights */

.lights-container {
    position: relative;
    display: flex;
    justify-content: start;
    align-items: center;
}

.left-svg {
    position: absolute;
    z-index: +5;
}

.big-light-boarder {
    margin-top: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5px;
    height: 60px;
    width: 60px;
    border: solid var(--black-dark);
    border-radius: 50%;
    background-color: var(--white);
}

.big-light {
    margin-top: .3px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: solid var(--black-dark);
}

.big-dot {
    height: 15px;
    width: 15px;
    position: relative;
    top: 7px;
    left: 10px;
    border-radius: 50%;
}

.small-lights-container {
    margin-left: 15px;
    margin-top: 10px;
    width: 70px;
    height: 100%;
    display: flex;
    align-self: start;
    justify-content: space-around;
}

.small-light {
    border: solid var(--black-dark);
    width: 16px;
    height: 16px;
    border-radius: 50%;
}

.dot {
    height: 5px;
    width: 5px;
    position: relative;
    top: 3px;
    left: 3px;
    border-radius: 50%;
}


/* Center Screen */

.screen-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.screen {
    width: 150px;
    height: 150px;
    border: solid var(--black-dark);
    border-radius: 0 0 0 17%;
    display: grid;
    grid-template-rows: 10% 72% 18%;
    background-color: var(--gray-light);
}

.top-screen-lights {
    width: 50%;
    margin-top: 2px;
    display: flex;
    justify-self: center;
    justify-content: center;
    align-items: center;
}

.mini-light {
    border: solid var(--black-dark) 1px;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    margin-right: 7px;
}

#main-screen {
    height: 100%;
    width: 80%;
    justify-self: center;
    background-color: var(--blue-light);
    border: solid var(--black-dark) 2px;
    border-radius: 5%;
}

#main-screen>img {
    margin-top: 5px;
    margin-left: 10px;
    width: 100px;
    height: 100px;
    align-items: center;
    animation: wiggle 2s linear infinite;
}

.bottom-screen-lights {
    display: flex;
    margin-top: 5px;
    width: 75%;
    justify-self: center;
    justify-content: space-between;
    align-items: center;
}

.bottom-screen-lights .small-light {
    border: solid var(--black-dark) 2px;
    width: 12px;
    height: 12px;
}

.bottom-screen-lights .dot {
    height: 4px;
    width: 4px;
    top: 2.5px;
    left: 2px;
}

.line {
    width: 18px;
    height: 2px;
    background-color: var(--black-dark);
    margin-top: 2px;
}


/*Bottom buttons  */

.buttons-container {
    display: grid;
    grid-template-rows: 40% 60%;
}

.big-button {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: solid 2px var(--black-dark);
    background-color: var(--black-light);
    margin-left: 7px;
}

.long-button {
    width: 35px;
    height: 2px;
    border-radius: 50px;
    border: 2px solid var(--black-dark);
}

.green-screen {
    width: 80px;
    height: 30px;
    border-radius: 5px;
    border: solid var(--black-dark) 2px;
    background-color: var(--green);
    color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
}

#name-screen {
    width: 100%;
    text-align: center;
    overflow-wrap: break-word;
}

.circle {
    width: 4px;
    height: 4px;
    border-radius: 50%;
    border: 1px solid var(--black-dark);
}

.upper-buttons-container {
    display: flex;
    align-items: top;
    justify-content: start;
}

.long-buttons-container {
    display: flex;
    width: 100px;
    justify-content: space-around;
    margin-left: 7px;
}

.nav-buttons-container {
    display: grid;
    grid-template-columns: 27% 35% 38%;
}

.dots-container {
    height: 100%;
    width: 50%;
    display: flex;
    justify-self: center;
    justify-content: space-between;
    font-size: x-large;
}

.right-nav-container {
    position: relative;
    top: -30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.nav-button {
    height: 52px;
    width: 52px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-button-vertical {
    position: absolute;
    transform: rotate(90deg);
    background-color: var(--black-light);
    border-radius: 5px;
    height: 12px;
    width: 52px;
    border: 2px solid var(--black-dark);
}

.nav-button-horizontal {
    position: absolute;
    background-color: var(--black-light);
    border-radius: 5px;
    height: 12px;
    width: 52px;
    border: 2px solid var(--black-dark);
}

.nav-center-circle {
    height: 5px;
    width: 5px;
    border-radius: 50%;
    border: solid var(--black-dark) 2px;
    z-index: +2;
}

.border-top {
    border-top: 3.5px solid var(--black-light);
    position: absolute;
    top: -3px;
    left: 20px;
    right: 19.5px;
}

.border-bottom {
    border-top: 3.5px solid var(--black-light);
    position: absolute;
    top: 11px;
    left: 20px;
    right: 19.5px;
}

.bottom-right-nav-container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.bottom-right-nav-container .dots-container {
    align-items: center;
    justify-content: center;
}

.bottom-right-nav-container .small-light {
    border: solid var(--black-dark) 2px;
    width: 7px;
    height: 7px;
    margin-right: 3px;
    margin-top: 10px;
}

.bottom-right-nav-container .dot {
    height: 2.5px;
    width: 2.5px;
    top: 1.5px;
    left: 1.5px;
}


/*Right panel */

#right-panel {
    background-color: var(--red);
    box-sizing: border-box;
    position: relative;
    height: 100%;
    width: 50%;
    display: grid;
    grid-template-rows: 24% repeat(4, 19%);
    border-bottom: solid var(--black-dark) 3px;
    border-bottom-right-radius: 10px;
}

#right-panel::before {
    content: '';
    position: absolute;
    left: -3px;
    bottom: 0;
    width: 100%;
    height: 310px;
    border-right: solid var(--black-dark) 3px;
    border-bottom-right-radius: 7px;
}

#lblPokeName {
    font-family: 'VT323', monospace;
    font-size: 30px;
}


/* top screen */

.top-screen-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.right-panel-screen {
    color: var(--white);
    width: 146px;
    height: 64px;
    background-color: var(--black-light);
    border: solid var(--black-dark) 2px;
    border-radius: 4px;
    font-size: 18px;
    padding-left: 2px;
    padding-right: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: left;
    padding-left: 8px;
    line-height: 2;
}


/* square buttons grid */

.square-buttons-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.blue-squares-container {
    width: 146px;
    height: 60px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

.blue-square {
    border-radius: 2px;
    border: var(--black-dark) 1.5px solid;
    background-color: var(--blue-light);
    box-shadow: inset -2px -2px rgba(50, 152, 203, 80);
}


/* center buttons */

.center-buttons-container {
    display: flex;
    justify-content: space-around;
}

.center-left-container {
    display: grid;
}

.small-reds-container {
    display: flex;
    align-items: center;
    justify-content: start;
}

.small-reds-container .small-light {
    border: solid var(--black-dark) 2px;
    width: 7px;
    height: 7px;
    margin-right: 10px;
    margin-top: 10px;
}

.small-reds-container .dot {
    height: 2.5px;
    width: 2.5px;
    top: 1px;
    left: 1px;
}

.white-squares-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.white-square {
    width: 25px;
    height: 25px;
    border-radius: 5px;
    border: var(--black-dark) 2px solid;
    background-color: var(--white);
    box-shadow: inset -2px -2px var(--gray-light);
}

.center-right-container {
    display: grid;
}

.thin-buttons-container {
    display: flex;
    justify-content: space-between;
}

.thin-button {
    width: 35px;
    height: 2px;
    border: 2px solid var(--black-dark);
    background-color: var(--blue-light);
    margin-left: 10px;
}

.yellow-button {
    justify-self: end;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: solid 2px var(--black-dark);
    margin-left: 7px;
}

.yellow-button .big-dot {
    height: 7px;
    width: 7px;
    position: relative;
    top: 3px;
    left: 5px;
    border-radius: 50%;
}


/* bottom screens */

.bottom-screens-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.bottom-screens-container .right-panel-screen {
    width: 64px;
    height: 25px;
}


/*Animations*/

@keyframes wiggle {
    0%,
    7% {
        transform: rotateZ(0);
    }
    15% {
        transform: rotateZ(-15deg);
    }
    20% {
        transform: rotateZ(10deg);
    }
    25% {
        transform: rotateZ(-10deg);
    }
    30% {
        transform: rotateZ(6deg);
    }
    35% {
        transform: rotateZ(-4deg);
    }
    40%,
    100% {
        transform: rotateZ(0);
    }
}
